{% extends 'base.html.twig' %}

{% block title %}ŚF - Lista kategorii [Aktualizacja]{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="header">
            <h1>Panel administratora - edycja filmów:</h1>

            <ul>
                {% for movie in movieList %}
                    <li><a href="{{ path('updateCategory', {'id': movie.category_name}) }}">{{ movie.category_name}}</li>
                {% endfor %}
            </ul>
            <a href="{{ path('admin') }}">Powrót do: Panel administratora</a>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}